.container{
    padding: 2em;
    margin-top: 1em;

}
.titulo{
    text-align: center;
}
p{
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.card-product{
    text-align: center;
    border: 2px solid gray;
    margin-top: 2em;
    margin-left: 25em;
    margin-right: 25em;
}